/* Estilos para la página de agregar cliente */

body{
    margin: 0;
    padding: 0;
    background: gray;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

nav {
    background-color: #3b0e57;/* Color morado translúcido para el fondo del nav */
    padding: 20px 10%; /* Ajusta el relleno del nav */
    text-align: center; /* Alinea el texto al centro */
    width: 100%; /* Establece el ancho del nav al 100% */
    box-sizing: border-box; /* Incluye el relleno en el ancho total */
}

h1 {
    color: white; /* Color del texto del encabezado */
    font-size: 36px; /* Tamaño de fuente del encabezado */
    font-weight: bold; /* Establece el peso del texto a negrita */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3); /* Agrega una sombra suave al texto */
    letter-spacing: 1px; /* Espaciado entre letras */
    margin: 0; /* Elimina el margen superior para evitar duplicación con el margen del nav */
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(249, 249, 249, 0.8); /* Gris translúcido */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}


label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"] {
    display: block;
    border: none;
    height: 40px;
    width: 370px;
    background-color: rgba(100, 125, 135, 0.5);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

input[type="submit"] {
    background-color: #6b063a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

input[type="submit"]:hover {
    background-color: #8b0a4d;
    transform: translateY(-2px); /* Mover ligeramente hacia arriba al pasar el mouse */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Agregar sombra al pasar el mouse */
}

input[type="submit"]:active {
    transform: translateY(1px); /* Mover ligeramente hacia abajo al hacer clic */
    box-shadow: none; /* Eliminar sombra al hacer clic */
}

input[type="submit"]:focus {
    outline: none; /* Eliminar el contorno al enfocar */
}

.cancel-button {
    background-color: #6b063a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.cancel-button:hover {
    background-color: #8b0a4d;
    transform: translateY(-2px); /* Mover ligeramente hacia arriba al pasar el mouse */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Agregar sombra al pasar el mouse */
}

.cancel-button:active {
    transform: translateY(1px); /* Mover ligeramente hacia abajo al hacer clic */
    box-shadow: none; /* Eliminar sombra al hacer clic */
}

.cancel-button:focus {
    outline: none; /* Eliminar el contorno al enfocar */
}

