body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: whitesmoke;
}

nav {
    background-color: #0c303b;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.container {
    margin: 20px;
}

.producto-en-carrito {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.producto-en-carrito h3 {
    margin-top: 0;
}

.producto-en-carrito p {
    margin: 5px 0;
}

.producto-en-carrito label {
    margin-top: 10px;
    display: block;
}

.producto-en-carrito input[type="number"] {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

.buttons button {
    background-color: #07192ce5;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Agregamos la transición para el color del texto */
}

.buttons button:hover {
    background-color: #ffd700; /* Cambiamos el color de fondo al pasar el mouse */
    color: #000; /* Cambiamos el color del texto al pasar el mouse */
}



