/* Ajustes generales del cuerpo de la página */
body {
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el relleno predeterminado */
    background: whitesmoke; /* Establece una imagen de fondo centrada en la parte superior */
    background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el contenedor */
    height: 100vh; /* Establece la altura del cuerpo al 100% del viewport */
    font-family: "Poppins", sans-serif; /* Define la fuente para el texto */
}

/* Estilos para la barra de navegación */
nav {
    background-color: #3b0e57; /* Color morado translúcido para el fondo del nav */
    padding: 20px 10%; /* Ajusta el relleno del nav (20px arriba y abajo, 10% a los lados) */
    text-align: center; /* Alinea el texto al centro */
    width: 100%; /* Establece el ancho del nav al 100% */
    box-sizing: border-box; /* Incluye el relleno en el ancho total */
}

/* Estilos para el título */
h1 {
    color: white; /* Color del texto del encabezado */
    font-size: 36px; /* Tamaño de fuente del encabezado */
    font-weight: bold; /* Establece el peso del texto a negrita */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3); /* Agrega una sombra suave al texto */
    letter-spacing: 1px; /* Espaciado entre letras */
    margin: 0; /* Elimina el margen superior para evitar duplicación con el margen del nav */
}

h2 {
    font-size: 24px; /* Tamaño de fuente */
    font-weight: bold; /* Peso de la fuente */
    color: #242742; /* Color del texto */
    text-align: center; /* Alineación del texto */
    margin-bottom: 20px; /* Margen inferior */
}


.container {
    display: flex; /* Utiliza flexbox para organizar las tarjetas de producto */
    flex-wrap: wrap; /* Permite que las tarjetas de producto se envuelvan en líneas si no caben en el ancho de la página */
    justify-content: space-between; /* Distribuye uniformemente las tarjetas a lo largo del contenedor */
}

.product-card {
    border: 1px solid #ccc; /* Borde de 1px sólido de color gris */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Ajuste de relleno */
    margin-bottom: 10px; /* Margen inferior de 10px */
    background-color: #eabe6c9c;
    max-width: 400px; /* Ancho máximo de la tarjeta */
    margin-right: 10px; /* Margen derecho entre las tarjetas */
    flex-grow: 1; /* Permite que las tarjetas de producto se expandan para llenar el espacio disponible */
}


/* Estilos para la barra de búsqueda */
.search-bar {
    display: flex; /* Utiliza flexbox para organizar los elementos */
    justify-content: space-between; /* Distribuye uniformemente los elementos a lo largo del contenedor */
    align-items: center; /* Alinea los elementos verticalmente al centro */
    padding: 10px; /* Ajuste de relleno */
    background-color: #f0f0f0; /* Color de fondo */
    border-bottom: 2px solid #ccc; /* Borde inferior */
}

.search-bar input[type="text"] {
    flex: 1; /* El input ocupa todo el espacio disponible */
    margin-right: 10px; /* Margen derecho para separar del botón */
    padding: 8px; /* Ajuste de relleno */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    font-size: 15px;
}

.btn-2 {
    background: #242742;
    background: linear-gradient(0deg, #6b063a 0%, #6b063a 100%);
    border: none;
}

.btn-2:before {
    height: 0%;
    width: 2px;
}

.btn-2:hover {
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}


.product-card button {
    background-color: #252C59;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 10px;
    margin-right: 10px; /* Espacio entre los botones */
    font-size: 14px;
    font-weight: bold;
    outline: none;
}

.product-card button:last-child {
    margin-right: 0; /* Eliminar espacio a la derecha del último botón */
}

.product-card button:hover {
    background-color: #242742;
    transform: translateY(-2px); /* Mover ligeramente hacia arriba al pasar el mouse */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Agregar sombra al pasar el mouse */
}

.product-card button:active {
    transform: translateY(1px); /* Mover ligeramente hacia abajo al hacer clic */
    box-shadow: none; /* Eliminar sombra al hacer clic */
}

.product-card button:focus {
    box-shadow: 0 0 0 3px rgba(36, 39, 66, 0.5); /* Agregar un borde de enfoque al botón */
}




