body {
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
    background: rgb(228, 224, 224); /* Fondo con imagen centrada en la parte superior */
    background-size: cover; /* La imagen de fondo cubre todo el cuerpo */
    font-family: sans-serif; /* Establece la fuente predeterminada */
    height: 100vh; /* Establece la altura del cuerpo al 100% del viewport height */
}

/* Estilos para el nav */
nav {
    background-color: #1D3E53;/* Color morado translúcido para el fondo del nav */
    padding: 20px 10%; /* Ajusta el relleno del nav */
    text-align: center; /* Alinea el texto al centro */
    width: 100%; /* Establece el ancho del nav al 100% */
    box-sizing: border-box; /* Incluye el relleno en el ancho total */
}

h1 {
    color: rgb(255, 255, 255); /* Color del texto del encabezado */
    font-size: 36px; /* Tamaño de fuente del encabezado */
    font-weight: bold; /* Establece el peso del texto a negrita */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3); /* Agrega una sombra suave al texto */
    letter-spacing: 1px; /* Espaciado entre letras */
    margin: 0; /* Elimina el margen superior para evitar duplicación con el margen del nav */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}
h1 {
    text-align: center;
}
.polarizado-option {
    margin-top: 10px;
}
.polarizado-option label {
    margin-right: 10px;
}