body {
    margin: 0;
    padding: 0;
    background: url(../IMAGENES/fondo_textura.jpg) no-repeat center top;
    background-size: cover;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: goldenrod;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.menu {
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.user-pic {
    width: 70px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.sub-menu-wrap {
    position: absolute;
    top: 110%;
    right: 8%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background: #E1C01E;
    padding: 15px;
    margin: 10px;
}

.sub-menu::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 30px;
    width: 25px;
    height: 25px;
    background-color: #900C3F;
    transform: rotate(45deg);
}

.user-info {
    display: flex;
    align-items: center;
    color: black;
}

.user-info h3 {
    font-weight: 500;
}

.user-info img {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr {
    background: #fff;
    border: 0;
    height: 1px;
    width: 100%;
    margin: 15px 0 15px;
}

.sub-menu-link {
    color: white;
    display: flex;
    text-decoration: none;
    align-items: center;
    margin: 10px;
}

.sub-menu-link p {
    width: 100%;
    font-size: 12px;
}

.sub-menu-link .icon {
    margin-right: 15px;
    padding: 1px;
}

.sub-menu-link span {
    color: white;
    font-size: 20px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-size: 13px;
}

/* Estilos para los botones */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%; /* Ajustamos el ancho del contenedor */
}

.bontones {
    display: flex;
    flex-direction: column; /* Cambiamos la dirección del flex a columna */
    align-items: center; /* Centramos horizontalmente los botones */
    gap: 100px; /* Espacio entre los grupos de botones */
}

/* Estilo para cada fila de botones */
.bontones-row {
    display: flex;
    justify-content: center;
    gap: 50px; /* Espacio entre los botones */
}

.bontones button {
    background-color: #efb810;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 10em;
    border-radius: 1rem;
    color: black;
    box-shadow: 0 0.4rem #664300;
    cursor: pointer;
    font-weight: bold; /* Hacemos el texto más remarcado */
}

.bontones button:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
}

.bontones button:hover:not(:disabled) {
    background: #a87b05;
    color: white;
    text-shadow: 0 0.1rem black;
}

.bontones button:disabled {
    cursor: auto;
    color: gray;
}
